<h1 class="text-center">Hello {{username}}</h1>

<h2 class="text-center">Attendance List</h2>

<table class="table table-bordered table-striped table-sm table-hover">
    <thead class="thead-dark">
        <tr>
            <th>User</th>
            <th>Login Time</th>
            <th>Logout Time</th>
            <th>Class</th>
            <th>Course</th>
            <th>Lesson</th>
            <th class="text-end px-3">Time Spent (seconds)</th>
        </tr>
    </thead>
    <tbody class="fs-6">
        {{#attendance}}
        <tr class="cursor-pointer">
            <td>{{username}}</td>
            <td>{{login}}</td>
            <td>{{logout}}</td>
            <td>{{classid}}</td>
            <td>{{coursename}}</td>
            <td>{{lessonname}}</td>
            <td class="text-end px-3">{{timespent}}</td>
        </tr>
        {{/attendance}}
        {{^attendance}}
        <tr>
            <td colspan="7" class="text-center">No attendance data found.</td>
        </tr>
        {{/attendance}}
    </tbody>
</table>
